* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: Arial, sans-serif;
    background: #0f0f1a;
    color: white;
    overflow: hidden;
}

.container {
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
    padding: 30px;
}

h1 {
    font-size: clamp(80px, 15vw, 180px);
    line-height: 1;

    background: linear-gradient(135deg, #ff4ecd, #7c5cff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    margin-bottom: 30px;
}

p {
    font-size: clamp(18px, 3vw, 28px);
    color: #d0d0dd;
}
.start-button {
    display: inline-block;

    margin-top: 35px;
    padding: 16px 32px;

    background: linear-gradient(135deg, #ff4ecd, #7c5cff);
    color: white;

    text-decoration: none;
    font-size: 18px;
    font-weight: bold;

    border-radius: 50px;

    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.start-button:hover {
    transform: scale(1.05);

    box-shadow:
        0 0 20px rgba(255, 78, 205, 0.5),
        0 0 40px rgba(124, 92, 255, 0.3);
}


.gifts-page {
    min-height: 100vh;
    padding: 60px 30px;
    text-align: center;
}

.gifts-page h1 {
    font-size: 60px;
    color: white;
    margin-bottom: 10px;
}

.gifts-subtitle {
    color: #aaa;
    font-size: 20px;
    margin-bottom: 60px;
}

.gifts-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    flex-wrap: wrap;
}

.gift {
    position: relative;
    width: 160px;
    height: 150px;
    cursor: pointer;
}

.gift-box {
    position: absolute;
    left: 10px;
    bottom: 0;
    width: 140px;
    height: 100px;
    background: #ff4ecd;
    border-radius: 8px;
}

.gift-lid {
    position: absolute;
    left: 0;
    top: 35px;
    width: 160px;
    height: 35px;
    background: #7c5cff;
    border-radius: 8px;
    z-index: 2;
}

.gift::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 22px;
    height: 115px;
    background: rgba(255, 255, 255, 0.4);
    z-index: 3;
}

.gift::before {
    content: "";

    position: absolute;
    left: 50%;
    top: 5px;

    transform: translateX(-50%);

    width: 55px;
    height: 25px;

    border: 7px solid white;
    border-radius: 50%;

    z-index: 5;
}

.back-button {
    display: inline-block;
    margin-top: 70px;
    color: #aaa;
    text-decoration: none;
    font-size: 18px;
}

.gift.opening {
    animation: shake 0.8s ease;
}

@keyframes shake {
    0% {
        transform: rotate(0deg);
    }

    20% {
        transform: rotate(-8deg);
    }

    40% {
        transform: rotate(8deg);
    }

    60% {
        transform: rotate(-6deg);
    }

    80% {
        transform: rotate(6deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.gift.opened {
    transform: scale(0.95);
    opacity: 0.7;
}
